<%= render "include/navbar_noform" %>

<div class="container-fluid top-content">
	<div class="main-search">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h1 class="logo">Halal Data</h1>
				
				<form action="<%= home_show_path %>" method="get" role="form">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2">
		  				<input type="text" name="query" class="form-control" id="search" placeholder="What are you looking for? E.g., chicken in geylang, hotel in pattani">
		  			</div>
		  			<div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0">
			  			<input type="submit" class="col-centered btn btn-info submit-btn" value="Search">
			  		</div>
		  		</div>
				</form>
			</div>
		</div>
	</div>
</div>