.header {
	background: #ccc;
	height: 40px;
}

.main-search {
	padding-top: 50px;
}

.logo {
	text-align: center;
	margin-bottom: 30px;
}

.centered {
	text-align: center;
}

.footer-nav {
	margin-top: 80px;
	width: 320px;
}

.submit-btn {
	width: 100%;
}

.list-item {
	margin-bottom: 30px;
	padding: 1px 10px 10px 10px;
}

.list-item:hover {
	background: #efefef;
}

.list-item p {
	margin: 0;
}

.list-item h3 {
	font-weight: 400;
}

.list-item h3 a {
	color: #000;
}

/* user form */
.user-form .row {
	margin-bottom: 20px;
}

.user-field {
	width: 100%;
}