.header {
	background: #ccc;
	height: 40px;
}

.navbar-brand {
	background: url('/assets/logo_small.png') center center no-repeat;
	color: transparent;
	height: 50px;
	width: 60px;
}

.main-search {
	padding-top: 50px;
}

.logo {
	background: url('/assets/logo.png') center center no-repeat;
	color: transparent;
	height: 166px;
	margin-bottom: 30px;
	text-align: center;
}

.centered {
	text-align: center;
}

.footer-nav {
	margin-top: 80px;
	width: 320px;
}

.submit-btn {
	width: 100%;
}

.list-item {
	margin-bottom: 30px;
	padding: 1px 10px 10px 10px;
}

.list-item:hover {
	background: #efefef;
}

.list-item p {
	margin: 0;
}

.list-item h3 {
	font-weight: 400;
}

.list-item h3 a {
	color: #000;
}

/* user form */
.user-form .row {
	margin-bottom: 20px;
}

.user-field {
	width: 100%;
}

/* page about */
.vision {
	font-size: 3em !important;
	font-weight: 400 !important;
	color: #fff !important;
}

.navbar {
	margin-bottom: 0;
}

.about-header {
	background: #82b2ff;
	text-align: center;
}

.about-header h2 {
	color: #fff;
	font-size: 1.8em;
	font-weight: 300;
}

.about-content {
	text-align: center;
	margin-top: 40px;
}

.about-content h2 {
	font-weight: 400;
	margin-bottom: 40px;
}

.about-content .row {
	margin-bottom: 50px;
}

.manifesto {
	text-align: left;
}

.manifesto ol {
	padding-left: 20px !important;
}