.header {
	background: #ccc;
	height: 40px;
}

.main-search {
	padding-top: 50px;
}

.logo {
	text-align: center;
	margin-bottom: 30px;
}

/* custom field for what? */
.custom-field {
	margin-bottom: 20px;
}

.footer-nav {
	margin-top: 80px;
	width: 320px;
}

.submit-btn {
	width: 100%;
}

.list-item {
	margin-bottom: 30px;
}